@model QueryBuilder1._0.kayttajat

@{
    ViewBag.Title = "Create";
}
@{
    if (TempData["Huomautus2"] != null)
    {
        <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["Huomautus2"])));
        </script>
    }
}
<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>kayttajat</h4>
        <hr />

        <form action="/kayttajats/Create">

            <div class="form-group">
                <input type="text" name="kayttajaNimi" id="kayttajaNimi" />
            </div>
        </form>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-secondary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
