@model QueryBuilder1._0.kayttajat

@{
    ViewBag.Title = "Delete";
}


<h3>Haluatko varmasti poistaa käyttäjän?</h3>
<h3></h3>
<h3>Käyttäjän poistaminen poistaa myös kaikki käyttäjän kyselyt.</h3>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @Html.DisplayFor(model => model.kayttaja_nimi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-secondary" />
            @Html.ActionLink("Takaisin", "Index")
        </div>
    }
</div>
