@{
    ViewBag.Title = "Etusivu";
}

<div class="jumbotron">
    <h1>Query Builder 1.0</h1>
    <p class="lead">Tämän sovelluksen avulla voit luoda yksinkertaisia SQL-kyselyitä ilman aikaisempaa osaamista.</p>
</div>
