@model QueryBuilder1._0.kysely

@{
    ViewBag.Title = "Delete";
}

<h2>Poista kysely</h2>

<h3>Haluatko varmasti poistaa kyselyn?</h3>
<div>
    <h4>Kysely:</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @Html.DisplayFor(model => model.kysely1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Takaisin", "Index")
        </div>
    }
</div>
