@model IEnumerable<QueryBuilder1._0.kysely>

@{
    ViewBag.Title = "Kyselyiden selaus";
}

<h2>Kyselyiden selaus</h2>

<p>
    @Html.ActionLink("Luo uusi", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Kyselyt
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kysely1)
        </td>
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id=item.id }) |
            @Html.ActionLink("Poista", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
